<script src="/assets/js/management.js"></script>

<section class="view management product create">
    <div class="block banner">
        <video class="banner-background" loop muted autoplay>
            <source src="/assets/video/main.mp4" type="video/mp4">
        </video>

        <div class="banner-overlay"></div>

        <div class="container">
            <div class="banner-body">
                <h1 class="banner-body-title">
                    Products
                </h1>

                <p class="banner-body-description">
                    Aenean nec lorem in porttitor donec laoreet nonummy augue.
                </p>
            </div>
        </div>
    </div>

    <div class="block menu">
        <div class="container">
            <ul class="menu-navigation">
                <a href="/management/overview">
                    <li class="menu-navigation-item">
                        Overview
                    </li>
                </a>

                <a href="/management/user/overview">
                    <li class="menu-navigation-item">
                        Users
                    </li>
                </a>

                <a href="/management/order/overview">
                    <li class="menu-navigation-item">
                        Orders
                    </li>
                </a>

                <a href="/management/project/overview">
                    <li class="menu-navigation-item">
                        Projects
                    </li>
                </a>

                <a href="/management/certificate/overview">
                    <li class="menu-navigation-item">
                        Certificates
                    </li>
                </a>
            </ul>

            <ul class="menu-tools">
                <a href="/user/profile">
                    <li class="menu-tools-item">
                        Logout
                    </li>
                </a>
            </ul>
        </div>
    </div>

    <div class="block form">
        <div class="form-head">
            <div class="container">
                <div class="form-head-column left col-md-4">
                    <p class="form-head-column-title">
                        Nr. 01
                    </p>
                </div>

                <div class="form-head-column center col-md-4">
                    <p class="form-head-column-title">
                        Any questions or interested in wholesale?
                    </p>
                </div>

                <div class="form-head-column right col-md-4">
                    <p class="form-head-column-title">
                        "The future is yours"
                    </p>
                </div>
            </div>
        </div>

        <div class="form-body">
            <div class="container">
                <div class="form-body-column left col-md-4">
                    <h1 class="form-body-title">
                        Any questions or interested in wholesale?
                    </h1>
                </div>

                <div class="form-body-column col-md-8">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-body-row row">
                            <input class="form-body-group-input" type="text" name="name" placeholder="Name" autocomplete="off">
                        </div>

                        <div class="form-body-row row">
                            <div class="form-body-column left col-md-8">
                                <input class="form-body-group-input" type="number" name="price" placeholder="Price" autocomplete="off">
                            </div>

                            <div class="form-body-column right col-md-4">
                                <input class="form-body-input" type="number" name="rating" placeholder="Rating" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-body-row row">
                            <textarea class="form-body-textarea" name="description" placeholder="Description" rows="5"></textarea>
                        </div>

                        <div class="form-body-quantities">
                            <% for(var i = 1; i <= 3; i ++) { %>
                                <div class="from-body-quantity form-body-row row">
                                    <div class="form-body-column left col-md-6">
                                        <input class="form-body-group-input" type="text" name="sizes" placeholder="Size" autocomplete="off">
                                    </div>

                                    <div class="form-body-column right col-md-6">
                                        <input class="form-body-group-input" type="number" name="quantities" placeholder="Quantity" autocomplete="off">
                                    </div>
                                </div>
                            <% } %>
                        </div>

                        <div class="form-body-row">
                            <button class="form-body-quantities-button form-body-button" type="button">
                                ADD
                            </button>
                        </div>

                        <div class="form-body-row">
                            <ul class="form-body-certificates">
                                <% certificates.forEach((certificate) => {%>
                                    <li class="form-body-certificates-item">
                                        <input class="form-body-checkbox form-body-certificates-item-checkbox" type="checkbox" name="certificates" id="<%= certificate._id %>" value="<%= certificate._id %>">
                                        <label class="form-body-certificates-item-label form-body-label" for="<%= certificate._id %>"><%= certificate.name %></label>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>

                        <div class="from-body-quantity form-body-row row">
                            <input class="form-body-input" id="images" type="file" name="images" multiple>
                        </div>

                        <button class="form-body-button">
                            Create
                        </button>

                        <a href="/management/product/overview/<%= category._id %>">
                            <button class="form-body-button" type="button">
                                Back
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>